### IMPORTS
For web scraping.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from webdriver_manager.firefox import GeckoDriverManager
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.firefox.options import Options

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

import time

import warnings
warnings.filterwarnings("ignore")

In [76]:
imdb = pd.read_csv('../02.data_csv/IMDB.csv')
imdb_df = pd.DataFrame(imdb)
imdb_df.head()

,Unnamed: 0,Title,Release Year,Length,Parental,Director,Cast,IMDB rating,Plot,Image URL,IMDB Rank
0,0,The Shawshank Redemption,1994,2h 22m,R,Frank Darabont,"Tim Robbins , Andy Dufresne , Morgan Freeman ,...",9.3/10,"Over the course of several years, two convicts...",https://m.media-amazon.com/images/M/MV5BNDE3OD...,1
1,1,The Godfather,1972,2h 55m,R,Francis Ford Coppola,"Marlon Brando , Don Vito Corleone , Al Pacino ...",9.2/10,"Don Vito Corleone, head of a mafia family, dec...",https://m.media-amazon.com/images/M/MV5BM2MyNj...,2
2,2,The Dark Knight,2008,2h 32m,PG-13,Christopher Nolan,"Christian Bale , Bruce Wayne… , Heath Ledger ,...",9.0/10,When the menace known as the Joker wreaks havo...,https://m.media-amazon.com/images/M/MV5BMTMxNT...,3
3,3,The Godfather Part II,1974,3h 22m,R,Francis Ford Coppola,"Al Pacino , Michael , Robert De Niro , Vito Co...",9.0/10,The early life and career of Vito Corleone in ...,https://m.media-amazon.com/images/M/MV5BMWMwMG...,4
4,4,12 Angry Men,1957,1h 36m,Approved,Sidney Lumet,"Henry Fonda , Juror 8 , Lee J. Cobb , Juror 3 ...",9.0/10,The jury in a New York City murder trial is fr...,https://m.media-amazon.com/images/M/MV5BMWU4N2...,5

In [97]:
imdbTitleYear = imdb_df[['Title','Release Year']].values.tolist()

In [183]:
driver = webdriver.Firefox()

In [190]:
tomato_data_2 = []

for movie in imdbTitleYear[:17]:
    
    finder = driver.get('https://www.google.com')

    try:

        cookies = driver.find_element(By.XPATH, '//*[@id="W0wltc"]')
        cookies.click()

        time.sleep(7)

        search_bar = driver.find_element(By.XPATH, '//*[@id="APjFqb"]')
        search_bar.click()

        search_bar.send_keys(f'Rotten Tomatoes {movie}')
        search_bar.send_keys(Keys.ENTER)

        time.sleep(3)

        driver.find_element(By.XPATH, '//div[@class="byrV5b"]').click()

        time.sleep(5)

        driver.find_element(By.XPATH, '//*[@id="onetrust-reject-all-handler"]').click()

        data = driver.find_element(By.CSS_SELECTOR, '#scoreboard').text.split('\n')[1:]

        tomato_data_2.append([movie, data])

    except:
        try:
            search_bar = driver.find_element(By.XPATH, '//*[@id="APjFqb"]')
            search_bar.click()

            search_bar.send_keys(f'Rotten Tomatoes {movie}', Keys.ENTER)
            #search_bar.send_keys(Keys.ENTER)

            time.sleep(8)

            driver.find_element(By.XPATH, '//div[@class="byrV5b"]').click()

            time.sleep(8)

            data = driver.find_element(By.CSS_SELECTOR, '#scoreboard').text.split('\n')[1:]

            tomato_data_2.append([movie, data])

        except:
            print(f'I can not this {movie}')

In [124]:
tomato_data = []

for movie in imdbTitleYear[17:]:
    
    finder = driver.get('https://www.google.com')

    try:

        cookies = driver.find_element(By.XPATH, '//*[@id="W0wltc"]')
        cookies.click()

        time.sleep(7)

        search_bar = driver.find_element(By.XPATH, '//*[@id="APjFqb"]')
        search_bar.click()

        search_bar.send_keys(f'Rotten Tomatoes {movie}')
        search_bar.send_keys(Keys.ENTER)

        time.sleep(3)

        driver.find_element(By.XPATH, '//div[@class="byrV5b"]').click()

        time.sleep(5)

        driver.find_element(By.XPATH, '//*[@id="onetrust-reject-all-handler"]').click()

        data = driver.find_element(By.CSS_SELECTOR, '#scoreboard').text.split('\n')[1:]

        tomato_data.append([movie, data])

    except:
        try:
            search_bar = driver.find_element(By.XPATH, '//*[@id="APjFqb"]')
            search_bar.click()

            search_bar.send_keys(f'Rotten Tomatoes {movie}', Keys.ENTER)
            #search_bar.send_keys(Keys.ENTER)

            time.sleep(8)

            driver.find_element(By.XPATH, '//div[@class="byrV5b"]').click()

            time.sleep(8)

            data = driver.find_element(By.CSS_SELECTOR, '#scoreboard').text.split('\n')[1:]

            tomato_data.append([movie, data])

        except:
            print(f'I can not this {movie}')

I can not this ['Paths of Glory', 1957]
I can not this ['Avengers: Infinity War', 2018]
I can not this ['The Shining', 1980]
I can not this ['The Great Dictator', 1940]
I can not this ['Witness for the Prosecution', 1957]
I can not this ['Inside Out', 2015]
I can not this ["Hachi: A Dog's Tale", 2009]
I can not this ['Gangs of Wasseypur', 2012]

In [129]:
movies_leftout = [['Paths of Glory', 1957],['Avengers: Infinity War', 2018],['The Shining', 1980],['The Great Dictator', 1940],['Witness for the Prosecution', 1957],['Inside Out', 2015],["Hachi: A Dog's Tale", 2009],['Gangs of Wasseypur', 2012]]

In [131]:
tomato_data_3 = []

for movie in movies_leftout:
    try:
        finder = driver.get('https://www.google.com')

        search_bar = driver.find_element(By.XPATH, '//*[@id="APjFqb"]')
        search_bar.click()

        search_bar.send_keys(f'Rotten Tomatoes {movie}', Keys.ENTER)
        #search_bar.send_keys(Keys.ENTER)

        time.sleep(8)

        driver.find_element(By.XPATH, '//div[@class="byrV5b"]').click()

        time.sleep(8)

        data = driver.find_element(By.CSS_SELECTOR, '#scoreboard').text.split('\n')[1:]

        tomato_data_3.append([movie, data])
    except:
        print(f'I can not do this {movie}')

I can not do this ['Paths of Glory', 1957]
I can not do this ['Inside Out', 2015]
I can not do this ["Hachi: A Dog's Tale", 2009]
I can not do this ['Gangs of Wasseypur', 2012]

In [181]:
tomato_1 = pd.DataFrame(tomato_data_3)
tomato_1

,0,1
0,"[Avengers: Infinity War, 2018]","[85%, TOMATOMETER, 92%, AUDIENCE SCORE]"
1,"[The Shining, 1980]","[83%, TOMATOMETER, 93%, AUDIENCE SCORE]"
2,"[The Great Dictator, 1940]","[92%, TOMATOMETER, 95%, AUDIENCE SCORE]"
3,"[Witness for the Prosecution, 1957]","[TOMATOMETER, 95%, AUDIENCE SCORE]"

In [139]:
lastFourTomato = [[['Paths of Glory', 1957],['96%', 'TOMATOMETER', '95%', 'AUDIENCE SCORE']],
                  [['Inside Out', 2015],['98%', 'TOMATOMETER', '89%', 'AUDIENCE SCORE']],
                  [["Hachi: A Dog's Tale", 2009],['64%', 'TOMATOMETER', '84%', 'AUDIENCE SCORE']],
                  [['Gangs of Wasseypur', 2012],['94%', 'TOMATOMETER', '90%', 'AUDIENCE SCORE']]]

In [171]:
tomato_2 = pd.DataFrame(lastFourTomato)

tomato_2

                             0                                        1
0       [Paths of Glory, 1957]  [96%, TOMATOMETER, 95%, AUDIENCE SCORE]
1           [Inside Out, 2015]  [98%, TOMATOMETER, 89%, AUDIENCE SCORE]
2  [Hachi: A Dog's Tale, 2009]  [64%, TOMATOMETER, 84%, AUDIENCE SCORE]
3   [Gangs of Wasseypur, 2012]  [94%, TOMATOMETER, 90%, AUDIENCE SCORE]

In [148]:
tomato_3 = pd.DataFrame(tomato_data)

In [166]:
last_two_rows = tomato_3.tail(2)

tomato_3 = tomato_3.drop(last_two_rows.index)

tomato_3

,0,1,2,3
0,"[One Flew Over the Cuckoo's Nest, 1975]","[93%, TOMATOMETER, 96%, AUDIENCE SCORE]",None,None
1,"[Se7en, 1995]","[83%, TOMATOMETER, 95%, AUDIENCE SCORE]",None,None
2,"[It's a Wonderful Life, 1946]","[94%, TOMATOMETER, 95%, AUDIENCE SCORE]",None,None
3,"[Seven Samurai, 1954]","[TOMATOMETER, 97%, AUDIENCE SCORE]",None,None
4,"[Interstellar, 2014]","[73%, TOMATOMETER, 86%, AUDIENCE SCORE]",None,None
...,...,...,...,...
220,"[The Help, 2011]","[76%, TOMATOMETER, 89%, AUDIENCE SCORE]",None,None
221,"[The 400 Blows, 1959]","[TOMATOMETER, 94%, AUDIENCE SCORE]",None,None
222,"[Persona, 1966]","[TOMATOMETER, 94%, AUDIENCE SCORE]",None,None
223,"[Life of Brian, 1979]","[96%, TOMATOMETER, 93%, AUDIENCE SCORE]",None,None
224,"[Aladdin, 1992]","[95%, TOMATOMETER, 92%, AUDIENCE SCORE]",None,None

In [168]:
tomato_3.describe().T

  count unique                                      top freq
0   225    225  [One Flew Over the Cuckoo's Nest, 1975]    1
1   225    128       [TOMATOMETER, 93%, AUDIENCE SCORE]   15
2     0      0                                      NaN  NaN
3     0      0                                      NaN  NaN

In [170]:
tomato_3 = tomato_3.iloc[:, :-2]
tomato_3

,0,1
0,"[One Flew Over the Cuckoo's Nest, 1975]","[93%, TOMATOMETER, 96%, AUDIENCE SCORE]"
1,"[Se7en, 1995]","[83%, TOMATOMETER, 95%, AUDIENCE SCORE]"
2,"[It's a Wonderful Life, 1946]","[94%, TOMATOMETER, 95%, AUDIENCE SCORE]"
3,"[Seven Samurai, 1954]","[TOMATOMETER, 97%, AUDIENCE SCORE]"
4,"[Interstellar, 2014]","[73%, TOMATOMETER, 86%, AUDIENCE SCORE]"
...,...,...
220,"[The Help, 2011]","[76%, TOMATOMETER, 89%, AUDIENCE SCORE]"
221,"[The 400 Blows, 1959]","[TOMATOMETER, 94%, AUDIENCE SCORE]"
222,"[Persona, 1966]","[TOMATOMETER, 94%, AUDIENCE SCORE]"
223,"[Life of Brian, 1979]","[96%, TOMATOMETER, 93%, AUDIENCE SCORE]"
224,"[Aladdin, 1992]","[95%, TOMATOMETER, 92%, AUDIENCE SCORE]"

In [191]:
TOMATO_17 = pd.DataFrame(tomato_data_2)

In [192]:
TOMATO_17

,0,1
0,"[The Shawshank Redemption, 1994]","[91%, TOMATOMETER, 98%, AUDIENCE SCORE]"
1,"[The Godfather, 1972]","[97%, TOMATOMETER, 98%, AUDIENCE SCORE]"
2,"[The Dark Knight, 2008]","[94%, TOMATOMETER, 94%, AUDIENCE SCORE]"
3,"[The Godfather Part II, 1974]","[96%, TOMATOMETER, 97%, AUDIENCE SCORE]"
4,"[12 Angry Men, 1957]","[TOMATOMETER, 97%, AUDIENCE SCORE]"
5,"[Schindler's List, 1993]","[98%, TOMATOMETER, 97%, AUDIENCE SCORE]"
6,[The Lord of the Rings: The Return of the King...,"[94%, TOMATOMETER, 86%, AUDIENCE SCORE]"
7,"[Pulp Fiction, 1994]","[92%, TOMATOMETER, 96%, AUDIENCE SCORE]"
8,[The Lord of the Rings: The Fellowship of the ...,"[91%, TOMATOMETER, 95%, AUDIENCE SCORE]"
9,"[The Good, the Bad and the Ugly, 1966]","[97%, TOMATOMETER, 97%, AUDIENCE SCORE]"
10,"[Forrest Gump, 1994]","[71%, TOMATOMETER, 95%, AUDIENCE SCORE]"
11,"[Fight Club, 1999]","[79%, TOMATOMETER, 96%, AUDIENCE SCORE]"
12,"[The Lord of the Rings: The Two Towers, 2002]","[95%, TOMATOMETER, 95%, AUDIENCE SCORE]"
13,"[Inception, 2010]","[87%, TOMATOMETER, 91%, AUDIENCE SCORE]"
14,[Star Wars: Episode V - The Empire Strikes Bac...,"[95%, TOMATOMETER, 97%, AUDIENCE SCORE]"
15,"[The Matrix, 1999]","[83%, TOMATOMETER, 85%, AUDIENCE SCORE]"
16,"[Goodfellas, 1990]","[94%, TOMATOMETER, 97%, AUDIENCE SCORE]"

In [260]:
rottenTomatoes = pd.concat([TOMATO_17, tomato_3, tomato_1, tomato_2])
rottenTomatoes

,0,1
0,"[The Shawshank Redemption, 1994]","[91%, TOMATOMETER, 98%, AUDIENCE SCORE]"
1,"[The Godfather, 1972]","[97%, TOMATOMETER, 98%, AUDIENCE SCORE]"
2,"[The Dark Knight, 2008]","[94%, TOMATOMETER, 94%, AUDIENCE SCORE]"
3,"[The Godfather Part II, 1974]","[96%, TOMATOMETER, 97%, AUDIENCE SCORE]"
4,"[12 Angry Men, 1957]","[TOMATOMETER, 97%, AUDIENCE SCORE]"
...,...,...
3,"[Witness for the Prosecution, 1957]","[TOMATOMETER, 95%, AUDIENCE SCORE]"
0,"[Paths of Glory, 1957]","[96%, TOMATOMETER, 95%, AUDIENCE SCORE]"
1,"[Inside Out, 2015]","[98%, TOMATOMETER, 89%, AUDIENCE SCORE]"
2,"[Hachi: A Dog's Tale, 2009]","[64%, TOMATOMETER, 84%, AUDIENCE SCORE]"
3,"[Gangs of Wasseypur, 2012]","[94%, TOMATOMETER, 90%, AUDIENCE SCORE]"

In [261]:
rottenTomatoes = rottenTomatoes.reset_index(drop=True)

In [262]:
rottenTomatoes.columns = ['Title', 'Score']

In [263]:
rottenTomatoes

,Title,Score
0,"[The Shawshank Redemption, 1994]","[91%, TOMATOMETER, 98%, AUDIENCE SCORE]"
1,"[The Godfather, 1972]","[97%, TOMATOMETER, 98%, AUDIENCE SCORE]"
2,"[The Dark Knight, 2008]","[94%, TOMATOMETER, 94%, AUDIENCE SCORE]"
3,"[The Godfather Part II, 1974]","[96%, TOMATOMETER, 97%, AUDIENCE SCORE]"
4,"[12 Angry Men, 1957]","[TOMATOMETER, 97%, AUDIENCE SCORE]"
...,...,...
245,"[Witness for the Prosecution, 1957]","[TOMATOMETER, 95%, AUDIENCE SCORE]"
246,"[Paths of Glory, 1957]","[96%, TOMATOMETER, 95%, AUDIENCE SCORE]"
247,"[Inside Out, 2015]","[98%, TOMATOMETER, 89%, AUDIENCE SCORE]"
248,"[Hachi: A Dog's Tale, 2009]","[64%, TOMATOMETER, 84%, AUDIENCE SCORE]"
249,"[Gangs of Wasseypur, 2012]","[94%, TOMATOMETER, 90%, AUDIENCE SCORE]"

In [264]:
rottenTomatoes['Title'] = rottenTomatoes['Title'].apply(lambda x: x[0])

In [265]:
rottenTomatoes

                           Title                                    Score
0       The Shawshank Redemption  [91%, TOMATOMETER, 98%, AUDIENCE SCORE]
1                  The Godfather  [97%, TOMATOMETER, 98%, AUDIENCE SCORE]
2                The Dark Knight  [94%, TOMATOMETER, 94%, AUDIENCE SCORE]
3          The Godfather Part II  [96%, TOMATOMETER, 97%, AUDIENCE SCORE]
4                   12 Angry Men       [TOMATOMETER, 97%, AUDIENCE SCORE]
..                           ...                                      ...
245  Witness for the Prosecution       [TOMATOMETER, 95%, AUDIENCE SCORE]
246               Paths of Glory  [96%, TOMATOMETER, 95%, AUDIENCE SCORE]
247                   Inside Out  [98%, TOMATOMETER, 89%, AUDIENCE SCORE]
248          Hachi: A Dog's Tale  [64%, TOMATOMETER, 84%, AUDIENCE SCORE]
249           Gangs of Wasseypur  [94%, TOMATOMETER, 90%, AUDIENCE SCORE]

[250 rows x 2 columns]

In [268]:

def scores(column):
    
    tomatometer_audience = []
   
        
    if len(column) == 4:
        
        tomatometer = column[0]
        audience_score = column[2]
        tomatometer_audience.append(tomatometer)
        tomatometer_audience.append(audience_score)
    
    elif len(column) == 3:

        tomatometer = column[1]
        audience_score = column[1]
        tomatometer_audience.append(tomatometer)
        tomatometer_audience.append(audience_score)

    else:
        pass
    

    return tomatometer_audience

In [269]:
rottenTomatoes['Score'] = rottenTomatoes['Score'].apply(scores)

In [270]:
rottenTomatoes

                           Title       Score
0       The Shawshank Redemption  [91%, 98%]
1                  The Godfather  [97%, 98%]
2                The Dark Knight  [94%, 94%]
3          The Godfather Part II  [96%, 97%]
4                   12 Angry Men  [97%, 97%]
..                           ...         ...
245  Witness for the Prosecution  [95%, 95%]
246               Paths of Glory  [96%, 95%]
247                   Inside Out  [98%, 89%]
248          Hachi: A Dog's Tale  [64%, 84%]
249           Gangs of Wasseypur  [94%, 90%]

[250 rows x 2 columns]

In [272]:
rottenTomatoes[['Tomatometer', 'Audience_Score']] = rottenTomatoes['Score'].apply(lambda x: pd.Series([x[0], x[1]]))

In [277]:
rottenTomatoes = rottenTomatoes.drop('Score', axis=1)

In [278]:
rottenTomatoes

                           Title Tomatometer Audience_Score
0       The Shawshank Redemption         91%            98%
1                  The Godfather         97%            98%
2                The Dark Knight         94%            94%
3          The Godfather Part II         96%            97%
4                   12 Angry Men         97%            97%
..                           ...         ...            ...
245  Witness for the Prosecution         95%            95%
246               Paths of Glory         96%            95%
247                   Inside Out         98%            89%
248          Hachi: A Dog's Tale         64%            84%
249           Gangs of Wasseypur         94%            90%

[250 rows x 3 columns]

In [279]:
rottenTomatoes.to_csv('../02.data_csv/rottentomatoes.csv')